.header{
	ul{
		background-color:none;
		list-style:none;
		text-align:right;
		margin-right:20px;
		word-spacing:-20px;
		li {
			display:inline;
			a{
				text-decoration:none;
			}
			a:hover{
				text-decoration:underline;
			}
		}
	}
}



.body {
	background-color:yellow;
	position:relative;
	top:20%;
	right:none;
}

.googleLogo {
	padding:20px;
	img{
		height:100px;
		display:block;
		margin-right:auto;
		margin-left:auto;
		background-color:none;
	}
}

#search {
	form {
		background-color:none;
	}
	.searchBar{
		background-color:none;
		input{
		margin-right:auto;
		margin-left:auto;
		display:block;
		height:25px;
		width:550px;
		border-style:solid;
		border-width:1px;
		}
	}
	.searchButton{
		padding:10px;
		text-align:center;
		input[type="submit"] {
			border-style:solid;
			background-color:#F2F2F2;
			border-color:#E4E4E4;
			border-width:1px;
			padding:7px 10px;
			border-radius:2px;
			font-family:Arial;
			font-size:10px;
			font-weight:bold;
			margin-left:4px;
		}
		#googleSearch{
			margin-right: 10px;
		}

	}
}



.footer {
	background-color:green;
	bottom:0px;
	position:absolute;
	width:100%;


		ul{
			list-style:none;
			li{
				display:inline;
				a{
					text-decoration:none;
				}
				a:hover{
				text-decoration:underline;
			}

			}
		}
	.left{
		background-color:yellow;
		float:left;
		width:50%;
		ul{
			margin-left:-20px;
		}

	}
	.right{
		background-color:red;
		float:left;
		width:50%;
		text-align:right;
	}
}


