.header ul {
  background-color: none;
  list-style: none;
  text-align: right;
  margin-right: 20px;
  word-spacing: -20px;
  margin-right: 30px;
  margin-top: 0px; }
  .header ul li {
    display: inline; }
    .header ul li a {
      text-decoration: none;
      color: black; }
    .header ul li a:hover {
      text-decoration: underline; }
    .header ul li img[alt="Grid"] {
      height: 18px; }
    .header ul li img[alt="Bell"] {
      height: 25px; }
    .header ul li img[alt="Profile Picture"] {
      height: 40px; }

.body {
  position: relative;
  top: 20%; }

.googleLogo {
  padding: 20px; }
  .googleLogo img {
    height: 100px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: none; }

#search form {
  background-color: none; }
#search .searchBar {
  background-color: none; }
  #search .searchBar input {
    margin-right: auto;
    margin-left: auto;
    display: block;
    height: 25px;
    width: 550px;
    border-style: solid;
    border-width: 1px; }
#search .searchButton {
  padding: 10px;
  text-align: center; }
  #search .searchButton input[type="submit"] {
    border-style: solid;
    background-color: #F2F2F2;
    border-color: #E4E4E4;
    border-width: 1px;
    padding: 7px 10px;
    border-radius: 2px;
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
    margin-left: 4px; }
  #search .searchButton #googleSearch {
    margin-right: 10px; }

.googleAd {
  position: relative;
  text-align: center;
  top: 25%; }

.footer {
  background-color: #F2F2F2;
  bottom: 0px;
  position: absolute;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #D7D7D7; }
  .footer ul {
    list-style: none; }
    .footer ul li {
      display: inline; }
      .footer ul li a {
        text-decoration: none;
        color: #737373; }
      .footer ul li a:hover {
        text-decoration: underline; }
  .footer .left {
    background-color: none;
    float: left;
    width: 50%; }
    .footer .left ul {
      margin-top: 5px;
      word-spacing: -5px;
      position: relative; }
      .footer .left ul li {
        position: relative;
        top: 5px; }
  .footer .right {
    float: left;
    width: 50%;
    text-align: right; }
    .footer .right ul {
      margin-top: 10px;
      margin-right: 30px; }
